body{
    background-image: url("/public/BlackBackground.jpg");
    background-size: cover;
    height: 100vh;
    width:auto;
    background-repeat: no-repeat;

}
.imageC{
    max-width: auto;
    height: auto;
}
.Carousel_Rail-sc-hyhecw-2{
    max-width: auto;
    height: 100%;
}
/* .App{
    background:"/background.jpg";
    background-size: cover;
    background-repeat: no-repeat;
} */