.imageC{
    max-width: auto;
    height: auto;
}
.Carousel_Rail-sc-hyhecw-2{
    max-width: auto;
    height: 100%;
}
/* .App{
    background:"/background.jpg";
    background-size: cover;
    background-repeat: no-repeat;
} */